.container {  
    display: grid;
    grid-template-columns: 0.3fr 2.4fr 0.3fr;
    grid-template-rows: 0.3fr 2fr 0.3fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "nav nav nav"
        "thi con scr"
        "foo foo foo";
}
  
.nav { 
    grid-area: nav; 
    background-color: rgb(138, 133, 80);
}
  
.foo { 
    grid-area: foo; 
    background-color: rgb(138, 133, 80);
}
  
.scr { 
    grid-area: scr; 
    background-color: cornflowerblue;
}
  
.thi { 
    grid-area: thi; 
    background-color: cornflowerblue;
}
  
.con {
    grid-area: con; 
    background-color: black;
}
  
html, body , .container {
    height: 100%;
    margin: 0;
}

li {
    display: inline;
    padding: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(220, 220, 220);
    background-color: rgb(205, 204, 186);
}

p, h1, h2 {
    color: white;
}